.navbar {
  box-shadow: 5px 5px 5px black;
}
.h1 {
  font-size: 72px !important;
  font-weight: bold;
}
.card {
  border: none !important;
  margin: 70px 0;
  transition: 0.2 ease-in;
}
.maxxx {
  background-color: rgb(255, 255, 255) !important;
  transition: 0.3s ease-in;
}
.maxxx:hover {
  box-shadow: 10px 10px 10px black;
  transition: 0.2s ease-out;
}
.divaidar {
  background-color: black;
  box-shadow: 2px 2px 2px black;
}
.hww {
  transition: 0.3s ease-in;
}
.hww:hover {
  box-shadow: 5px 5px 5px black;
  transform: translate(-5px, 10px);
  transition: 0.3s ease-out;
}
i {
  font-size: 20px;
  margin: 10px;
  color: white;
}
h4 {
  color: white;
}
footer p {
  color: beige;
}
